.posts-container .posts {
  width: 70%;
  
}

.posts-container .posts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: auto;
  
}

.posts-container .card {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 220px 200px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 0px 0px 5px grey;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 2%;
}

.posts-container .card-image {
  grid-area: image;
  background: url("/dummy.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center; 
}

.posts-container .card-text {
  grid-area: text;
  margin: 25px;
}

.posts-container .card-text .date {
  color: indianred;
  font-size: 13px;
}

.posts-container .card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.posts-container .card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.posts-container .card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: indianred;
}

.posts-container .card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.posts-container .card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.posts-container .card-stats .value {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.posts-container .card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 3px grey;
}

.posts-container .pagination {
  display: block;
  clear: both;
}